<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
<%= link_to 'Destroy', @restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', restaurants_path %>
